// Scratch Pay Colors - sp denotes scratchpay
$sp-primary-blue: #245CA6;
$sp-primary-light-blue: #A3C7ED;
$sp-primary-cobalt: #293D99;
$sp-primary-navy: #212445;
$sp-secondary-coral: #F56E57;
$sp-secondary-yellow: #FFB81C;
$sp-secondary-beige: #FAF0E3;
$sp-secondary-dark-gray: #241F21;

// Other Colors
$white: #FFFFFF;
$black: #000000;

// Shadows
$box-shadow-style: 0 2px 3px rgba(0, 0, 0, .4);

// Sizes
$border-radius-base: 4px;
